@import '../../styles/mixins';

.clients-detail {
  height: 100%;
  &__scrollable-area {
    height: 100%;
    overflow: scroll;
  }
  &__back-arrow {
    cursor: pointer;
  }
  &__icon-link {
    font-size: $h2-font-size;
    margin: 0 5px;
    cursor: pointer;
    color: $gray-800;
  }
}
