@import '../../styles/mixins';

.grants-log {
  border-left: 1px solid #dedede;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;

  &__listing {
    width: 100%;
    padding: 10px;
    overflow: scroll;
    overflow-x: hidden;
  }

  &__card {
    border: 1px solid gray !important;
    margin: 5px !important;
  }
}

