@import '../../styles/mixins';

.grants-grants-log {
  
  border-left: 1px solid #e2e2e2 !important;
  padding: 16px;

  &__card {
    padding: 5px !important;
    border: 1px solid #e2e2e2 !important;
    box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.03) !important;
  }
}
