@import '../../styles/mixins';

.common-assistance-log {
  height: 100%;
  border-left: 1px solid #dedede;

  &__listing {
    height: calc(100% - 75px);
  }

  @media print {
    display: none;
  }

  &__listing-item {
    border-bottom: 1px solid #dedede;

    p {
      margin-bottom: 15px;
      margin-top: 15px;
    }

    &:last-child {
      border-bottom: 0;
      margin-bottom: 0;
    }
  }
}
