@import '../../styles/mixins';

.app-container {
  height: 100%;

  &__content-area {
    padding: 32px;
    height: calc(100% - 70px);

    .card {
      box-shadow: 0 2px 9px 0 rgba(0,0,0,0.03);
      padding: 16px;
      border-color: transparent;
      height: 100%;
      overflow: auto;

      @media print {
        height: auto;
      }
    }

    @media print {
      height: auto;
    }
  }
}

.nav-bar {
  &__left {
    background-color: $side-nav;
    height: 100%;
    max-width: 75px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__icons {
    .nav-item {
      text-align: center;

      a {
        margin: 32px 0;
        font-size: 24px;
        color: #fff;
        padding: 0;

        &:hover, &.active {
          background: #4DA1FF;
          color: #fff;
          border-radius: 10px;
        }

        &:first-child {
          margin-bottom: 0;
        }
      }
    }
  }

  &__top {
    background-color: #fff;
    width: 100%;
    padding: 16px 32px;
    min-height: 70px;
  }
}

.nav-logo {
  width: 100%;
}