@import './mixins';
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
@import 'bootstrap';
@import '../../node_modules/react-datepicker/src/stylesheets/datepicker';

// Here you put all global css rules.

html, body{
  @media print {
    .modal-open {
      overflow: visible;
    }

    .modal.fade.show {
      position: relative;
    }

    .nav-tabs {
      display: none;
    }

    .tab-content > .tab-pane {
      display: block;
    }
  }
}
